{# BootstrapのModalウィンドウ #}

<div
  class="modal fade"
  id="__modal"
  tabindex="-1"
  aria-labelledby="__modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold" id="__modalLabel">設定</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-4">
        <div class="mb-3">設定はブラウザのローカルストレージに保存します。</div>
        <div class="form-check form-switch ps-0">
          <input
            class="form-check-input btn-lg float-end"
            type="checkbox"
            id="switchAutoload"
            v-model="state.setting.autoload"
            v-on:click="toggleSwitchSetting('autoload')"
          >
          <label class="form-check-label fw-bold" for="switchAutoload">オートリロード</label>
          <p class="text-secondary"><small>最新の情報に自動更新します。</small></p>
        </div>
        <hr class="bg-secondary" />
        <div class="form-check form-switch ps-0 mb-3">
          <input
            class="form-check-input btn-lg float-end"
            type="checkbox"
            id="switchDarkmode"
            v-model="state.setting.darkmode"
            v-on:click="toggleSwitchSetting('darkmode')"
          >
          <label class="form-check-label fw-bold" for="switchDarkmode">ダークモード</label>
          <p class="text-secondary"><small>画面を暗くします。</small></p>
        </div>
      </div>
      <div class="modal-footer px-2">
        <button class="btn btn-sm btn-secondary" v-on:click="onResetSetting()">リセット</button>
      </div>
    </div>
  </div>
</div>