{# BootstrapのToastアラート #}

<div
  class="toast position-fixed top-0 end-0 m-3"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  v-bind:style="toast.display ? { opacity: 1 } : ''"
  v-show="toast.display"
>
  <div class="toast-header">
    <div class="spinner-grow text-success spinner-grow-sm" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <strong class="d-inline-block me-auto px-2 text-success" v-html="toast.title"></strong>
    <span class="text-secondary" v-html="toast.latest"></span>
    <button type="button" class="btn-close" v-on:click="chengeToastDisplay(false)"></button>
  </div>
  <div class="toast-body bg-success bg-gradient text-white" v-html="toast.content"></div>
</div>
