
### Site Data ########################

SITE_TITLE='Your Site Name'

SITE_DESCRIPTION='Distributing website updates.'

SITE_URL='https://example.com/'

SITE_LANGUAGE='ja-JP'

SITE_CATEGORY='Blog'

TIME_ZONE='Asia/Tokyo'

### JSON Data Source #################

FEED_SOURCE='feeds.json'

### Debug Mode #######################

DEBUG=false
