
### Site Data ########################

SITE_TITLE='Your Site Name'

SITE_DESCRIPTION=''

SITE_URL='https://example.com/'

SITE_LANGUAGE='ja-JP'

SITE_CATEGORY='Blog'

SITE_ROBOTS='noindex, follow'


### JSON Data Source #################

FEED_SOURCE='feeds.json'


### Time Zone ########################

TIME_ZONE='Asia/Tokyo'


### Debug Mode #######################

DEBUG=false
