<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{% if title is defined %}{{ title }}{% endif %} | el.kulo</title>
{% if description is defined %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
<link rel='stylesheet' id='app-style-css' href='/webpack/dest/app.min.css' type='text/css' media='all' />
</head>
<body>

{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script id='app-script-js' src="/webpack/dest/app.min.js"></script>
</body>
</html>