{% extends 'templates/layout.twig' %}
{% block content %}

<!-- HEADER -->
<div class="site">

	<header>

		<div class="heroe">

			<h1>Slim</h1>

			<p>The slim framework with powerful features</p>

		</div>
	</header>

	<footer>

		<div class="copyrights">

			<p>&copy; Slim Foundation.</p>

		</div>

	</footer>

</div>

{% endblock %}