{% extends 'templates/layout.twig' %}
{% block content %}

<main class="site-content">
	<nav class="site-navigation">
    	<ul class="site-navigation__tabs">
       		<li
			   class="site-navigation__tabs__item"
			   v-for="site in feeds.data"
			   v-on:click="changeTab(site.id)"
			   v-bind:class="{'active': isActiveTab === site.id}"
			   :key="site.id"
			>
			   ${site.name}
			</li>
		</ul>
	</nav>

	<div
		class="content-area"
		v-for="site in feeds.data"
		v-if="isActiveTab === site.id"
		:key="site.id"
	>
		<div class="content-area__header">
			<h2 class="content-area__header__title">${site.name}</h2>
			<p class="content-area__header__url">
				<a v-bind:href="site.url" v-bind:title="site.name" target="_blank">${site.url}</a>
			</p>
		</div>

		<section
			v-for="(single, index) in site.feeder"
			class="entry-section"
			v-bind:class = "'entry-section--' + index"
			:key="index"
		>
			<header class="entry-section__header">
				<h3>
					<a v-bind:href="single.link" v-bind:title="single.title" target="_blank">${single.title}</a>
				</h3>
				<p>${single.date}</p>
			</header>
			<div class="entry-section__content">
				<p>${single.content}</p>
			</div>
			<footer>
				<p>→ <a v-bind:href="single.link" v-bind:title="single.title" target="_blank">${single.link}</a></p>
			</footer>
		</section>
	</div>
</main>

{% endblock %}